@model Goods
@{
    ViewData["Title"] = Model.Name;
    var recGoods = ViewBag.RecGoods as List<Goods> ?? new List<Goods>();
}
<link href="~/css/easyzoom.css" rel="stylesheet" />
<style>
    .goods-detail .goods-img {
        padding: 0;
        border: 1px solid #eee;
    }

    .goods-detail .goods-img .main-pic {
        border-bottom: 1px solid #eee;
    }

    .goods-detail .goods-img .small-pic-box {
        height: 80px;
        border-top: 1px solid #f4f4f4;
    }

    .goods-detail .goods-img .small-pic-box > span {
        float: left;
        height: 80px;
        line-height: 80px;
        width: 23px;
        text-align: center;
        cursor: pointer;
    }

    .goods-detail .goods-img .small-pic-box .small-pics {
        position: relative;
        width: 80%;
        height: 80px;
        margin-left: 10%;
        margin-right: 10%;
        overflow: hidden;
    }

    .goods-detail .goods-img .small-pic-box .small-pics .large-pic {
    }

    .goods-detail .goods-img .small-pic-box .small-pics > ul {
        position: absolute;
        left: 0;
        height: 80px;
        width: 9000px;
    }

    .goods-detail .goods-img .small-pic-box .small-pics > ul > li {
        float: left;
        margin-top: 5px;
        margin-left: 8px;
        cursor: pointer;
    }

    .goods-detail .goods-img .small-pic-box .small-pics > ul > li:first-child {
        margin-left: 0;
    }

    .goods-detail .goods-img .small-pic-box .small-pics > ul > li > img {
        width: 70px;
        height: 70px;
        border: 1px solid #eee;
    }

    .goods-detail .goods-img .large-pic {
        display: none;
        position: fixed;
        width: 824px;
        height: 824px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        cursor: pointer;
        border: 2px solid #f4f4f4;
        border-radius: 5px;
    }

    .goods-detail .goods-img .large-pic img {
        width: 820px;
        height: 820px;
    }

    .goods-detail .goods-img .big-pic {
        cursor: pointer;
    }

    .goods-detail .goods-img .big-pic > img {
        width: 298px;
        height: 298px;
    }

    .goods-detail .goods-img .small-pic-box {
        position: relative;
    }

    .goods-detail .goods-img .btn-left, .goods-img .btn-right {
        position: absolute;
        display: block;
        z-index: 10;
        top: 0;
        width: 10%;
        height: 80px;
        line-height: 80px;
        text-align: center;
        background: #fff;
        font-size: 18px;
        color: #888;
    }

    .goods-detail .goods-img .btn-left {
        left: 0;
    }

    .goods-detail .goods-img .btn-right {
        right: 0;
    }
</style>
<div class="container goods-detail">
    <div class="row">
        <div class="col-lg-4 goods-img">
            <div class="easyzoom easyzoom--adjacent main-pic">
                <a href="@Model.CoverImg">
                    <img src="@Model.CoverImg" style="width:100%;" />
                </a>
            </div>
            <div class="clearfix small-pic-box">
                <a class="btn-left" href="javascript:"><</a>
                <div class="pull-left small-pics">
                    <ul>
                        @for (var i = 0; i < 10; i++) {
                            <li>
                                <img src="@Model.CoverImg" alt="@Model.CoverImg" title="@Model.CoverImg" style="width:80px;" />
                            </li>
                        }
                    </ul>
                </div>
                <a class="btn-right" href="javascript:">></a>
            </div>
        </div>
        <div class="col-lg-8 goods-info">
            <h1 class="goods-name">@Model.Name @Model.NameEn</h1>
            <div class="bg-lightgray">
                <div class="dl">
                    <div class="dt">销售价格</div>
                    <div class="dd">
                        <span class="color-red price">
                            ￥ @Model.Price
                        </span>
                    </div>
                </div>

                <div class="dl">
                    <div class="dt">商品标签</div>
                    <div class="dd">
                        @foreach (var gc in Model.GoodsCategory) {
                            <span>@gc.Category.Name，</span>
                        }
                    </div>
                </div>
            </div>
            <div class="dl">
                <div class="dt">&ensp;库&ensp;&ensp;存&ensp;</div>
                <div class="dd">@Model.Stock 件</div>
            </div>
            <div class="btns">
                <div class="num-inp">
                    <input id="num" type="text" value="1" />
                    <a class="num-add" id="num-add">+</a>
                    <a class="num-reduce" id="num-reduce">-</a>
                </div>
                <a class="btn-addToCart bg-red" href="javascript:">加入购物车</a>
                <a class="btn-buy bg-green" href="javascript:">立即购买</a>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="clearfix">
        <div class="rec-goods">
            <div class="rec-title">热门推荐</div>
            <ul class="rec-body">
                @foreach (var item in recGoods) {
                    <li title="@item.Name @item.NameEn">
                        <a href="/goods/detail?id=@item.ID">
                            <img src="@item.CoverImg" style="width:100%;" />
                        </a>
                        <p class="text-singleline color-red price">￥ @item.Price</p>
                        <a href="/goods/detail?id=@item.ID">
                            <p class="goods-name">@item.Name&ensp;&ensp;@item.NameEn</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="goods-content">
            <div class="goods-content-header">商品介绍</div>
            <div>

            </div>
            <div class="goods-content-body">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/easyzoom.js"></script>
    <script>
        var num = 1;
        var stock=@Html.Raw(Model.Stock);

        function setNum() {
            $("#num").val(parseInt(num));
        }
        $(function () {
            $("#num-add").click(function () {
                if (num >= stock) {
                    return;
                }
                num = parseInt(num);
                num++;
                setNum();
            });

            $("#num-reduce").click(function () {
                num = parseInt(num);
                if (num > 1) {
                    num--;
                    setNum();
                }
            });

            $("#num").blur(function () {
                let inpNum = $("#num").val();
                if (isNumber(inpNum)) {
                    num = parseInt(inpNum);
                    if (num <= 0) {
                        num = 1;
                    }
                    if (num > stock) {
                        num = stock;
                    }
                }
                else {
                    num = 1;
                }
                setNum();
            });


            var count = 10;
            var position = 0;
            var max = count - 2;
            $(".small-pic-box .btn-left").on("click", function () {
                if (position > 0) {
                    position--;
                    $(".small-pics ul").animate({
                        left: -(position * 80) + "px"
                    });
                }
            });

            $(".small-pic-box .btn-right").on("click", function () {
                if (position < max) {
                    position++;
                    $(".small-pics ul").animate({
                        left: -(position * 80) + "px"
                    });
                }
            });

            var $easyzoom = $('.easyzoom').easyZoom();
            var api = $easyzoom.data('easyZoom');

        });

        $(".small-pics li").hover(function () {
            var url = $(this).children("img").prop("src");
            api.swap(url, url);
        });
    </script>
}
