@model Goods
@{
    ViewData["Title"] = Model.Name;
    var recGoods = ViewBag.RecGoods as List<Goods> ?? new List<Goods>();
}
@section Header{
    <link href="~/css/easyzoom.css" rel="stylesheet" />
}
<div class="container goods-detail">
    <div class="row">
        <div class="col-lg-4 goods-img">
            <div class="easyzoom easyzoom--adjacent main-pic">
                <a href="@Model.CoverImg">
                    <img class="square width-full" src="@Model.CoverImg" />
                </a>
            </div>
            <div class="clearfix small-pic-box">
                <a class="btn-left" href="javascript:"><</a>
                <div class="pull-left small-pics">
                    <ul>
                        <li>
                            <img src="@Model.CoverImg" alt="@Model.CoverImg" title="@Model.CoverImg" style="width:80px;" />
                        </li>
                        @{
                            string[] albums = null;
                            if (!string.IsNullOrWhiteSpace(Model.Albums)) {
                                albums = Model.Albums.Split(",");
                            }
                        }
                        @if (albums != null && albums.Length > 0) {
                            foreach (var item in albums) {
                                <li>
                                    <img src="@item" alt="@item" title="@item" style="width:80px;" />
                                </li>
                            }
                        }
                    </ul>
                </div>
                <a class="btn-right" href="javascript:">></a>
            </div>
        </div>
        <div class="col-lg-8 goods-info">
            <h1 class="goods-name">@Model.Name @Model.NameEn</h1>
            <div class="bg-lightgray">
                <div class="dl">
                    <div class="dt">销售价格</div>
                    <div class="dd">
                        <span class="color-red price">￥ @Model.Price</span>
                    </div>
                </div>
                @if (string.IsNullOrWhiteSpace(Model.CategoryIdStr)) {
                    <div class="dl">
                        <div class="dt">商品标签</div>
                        <div class="dd">
                            <span>@Model.CategoryStr</span>
                        </div>
                    </div>
                }
            </div>
            <div class="dl">
                <div class="dt">&ensp;库&ensp;&ensp;存&ensp;</div>
                <div class="dd">@Model.Stock 件</div>
            </div>
            <div class="btns">
                <div class="num-inp">
                    <input id="num" type="text" value="1" />
                    <a class="num-add" id="num-add">+</a>
                    <a class="num-reduce" id="num-reduce">-</a>
                </div>
                <a id="btnAdd2Cart" class="btn-addToCart bg-red" href="javascript:">加入购物车</a>
                <a id="btnBuyAtNow" class="btn-buy bg-green" href="javascript:">立即购买</a>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="clearfix">
        <div class="rec-goods">
            <div class="rec-title">热门推荐</div>
            <ul class="rec-body">
                @foreach (var item in recGoods) {
                    <li title="@item.Name @item.NameEn">
                        <a href="/goods/detail?id=@item.Id">
                            <img class="square width-full" src="@item.CoverImg" />
                        </a>
                        <p class="text-singleline color-red price">￥ @item.Price</p>
                        <a href="/goods/detail?id=@item.Id">
                            <p class="goods-name">@item.Name&ensp;&ensp;@item.NameEn</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="goods-content">
            <div class="goods-content-header">商品介绍</div>
            <div>

            </div>
            <div class="goods-content-body">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>
@section Footer{
    <script src="~/js/easyzoom.js"></script>
    <script>
        var num = 1;
        var stock=@Html.Raw(Model.Stock);

        function setNum() {
            $("#num").val(parseInt(num));
        }
        function getNum() {
            let qty = $("#num").val();
            if (!isNumber(qty)) {
                return 0;
            }
            return parseInt(qty);
        }

        $(function () {
            $("#num-add").click(function () {
                if (num >= stock) {
                    return;
                }
                num = parseInt(num);
                num++;
                setNum();
            });

            $("#num-reduce").click(function () {
                num = parseInt(num);
                if (num > 1) {
                    num--;
                    setNum();
                }
            });

            $("#num").blur(function () {
                let inpNum = $("#num").val();
                if (isNumber(inpNum)) {
                    num = parseInt(inpNum);
                    if (num <= 0) {
                        num = 1;
                    }
                    if (num > stock) {
                        num = stock;
                    }
                }
                else {
                    num = 1;
                }
                setNum();
            });

            //加入购物车
            $("#btnAdd2Cart").click(function () {
                let qty = getNum();
                if (qty <= 0) {
                    dialogAlert("提示","请输入正确的商品数量！");
                    return;
                }
                if (qty > stock) {
                    dialogAlert("提示","当前库存为" + stock + "，库存不足！");
                    return;
                }
                $.ajax({
                    url: "/api/cart/setQty",
                    type: "post",
                    dataType: "Json",
                    data: { goodsID: @Model.Id, qty: qty },
                    success: function (data) {
                        var code = data.code;
                        var msg = data.msg;
                        if (code == 1000) {
                            dialogConfirm("提示", "加入购物车成功！是否马上去购物车结算？", function () {
                                location.href = "/cart";
                            });
                        }
                        else {
                            dialogAlert("提示",msg);
                        }
                    },
                    error: function (data) {
                        console.log(data)
                        dialogAlert("提示","系统繁忙，请稍后再试......");
                    }
                });
            });

            //立即购买
            $("#btnBuyAtNow").click(function () {
                let qty = getNum();
                if (qty <= 0) {
                    dialogAlert("提示","请输入正确的商品数量！");
                    return;
                }
                if (qty > stock) {
                    dialogAlert("提示","当前库存为" + stock + "，库存不足！");
                    return;
                }
                $.ajax({
                    url: "/api/cart/buyAtNow",
                    type: "post",
                    dataType: "Json",
                    data: { goodsID: @Model.Id, qty: qty },
                    success: function (data) {
                        var code = data.code;
                        var msg = data.msg;
                        if (code == 1000) {
                            location.href = "/order/edit";
                        }
                        else {
                            dialogAlert("提示",msg);
                        }
                    },
                    error: function (data) {
                        console.log(data)
                        dialogAlert("提示","系统繁忙，请稍后再试......");
                    }
                });
            });

            var count = @(albums!= null ? albums.Length:0);
            var position = 0;
            var max = count - 2;
            $(".small-pic-box .btn-left").on("click", function () {
                if (position > 0) {
                    position--;
                    $(".small-pics ul").animate({
                        left: -(position * 80) + "px"
                    });
                }
            });

            $(".small-pic-box .btn-right").on("click", function () {
                if (position < max) {
                    position++;
                    $(".small-pics ul").animate({
                        left: -(position * 80) + "px"
                    });
                }
            });

            var $easyzoom = $('.easyzoom').easyZoom();
            var api = $easyzoom.data('easyZoom');

            $(".small-pics li").hover(function () {
                var url = $(this).children("img").prop("src");
                api.swap(url, url);
            });
        });
    </script>
}
