@{
    ViewData["Title"] = "商品首页";
    var goods = ViewBag.Goods as PageList<Goods> ?? new PageList<Goods>();
    var category = ViewBag.Category as List<Category> ?? new List<Category>();
    var pageUrl = string.Empty;
    if (!string.IsNullOrWhiteSpace(ViewBag.Keyword)) {
        pageUrl += "&keyword=" + ViewBag.Keyword;
    }
}
@section Header{
    <link href="~/lib/tengo-pager/tengo-pager.css" rel="stylesheet" />
}
<div class="container goods-index">
    <div class="goods-select-box">
        @foreach (var item in category.Where(p => p.ParID == 0)) {
            <dl class="dl">
                <dt class="dt"><b>@item.Name</b></dt>
                @foreach (var child in category.Where(p => p.ParID == item.Id)) {
                    <dd class="dd">
                        <a href="/goods?categoryID=@child.Id">@child.Name</a>
                    </dd>
                }
            </dl>
        }
    </div>
    <ul class="clearfix index-goods">
        @foreach (var item in goods.DataList) {
            <li class="float-left" title="@item.Name @item.NameEn">
                <a href="/goods/detail?id=@item.Id">
                    <img class="square width-full" src="@item.CoverImg" />
                </a>
                <p class="text-singleline color-red">￥<span class="price">@item.Price</span></p>
                <a href="/goods/detail?id=@item.Id">
                    <p class="goods-name">@item.Name&ensp;&ensp;@item.NameEn</p>
                </a>
            </li>
        }
    </ul>
    <div class="tengo-pager"></div>
</div>
@section Scripts{
    <script src="~/lib/tengo-pager/tengo-pager.js"></script>
    <script type="text/javascript">
        $(".tengo-pager").append(getPager(@goods.Total,@goods.PageSize,@goods.Page, "/goods?page=","@Html.Raw(pageUrl)"));
    </script>
}